body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width:60%;
  margin:5% 20%;
  box-sizing: border-box;
}
.action{
  width:100%;
  display: flex;
}
.search-area{
  width:90%;
  padding:5px;
}
.search-result{
  width:100%;
  /* background-color: rgb(196, 248, 112); */
  padding-top:20px;
  box-sizing: border-box;
}
.search-result p{
  color: rgb(8, 4, 4);
  font-size:medium;
}
.form{
  display: none;
  flex-direction: column;
  position: absolute;
  top:5%;
  width:60%;
  background-color: rgb(245, 245, 245);
  padding: 2% 10%;
  box-sizing: border-box;
}
textarea{
  font-size:large;
  border: 2px solid gray;
}
.form>input, .form>textarea{
  padding: 10px;
  font-size:20px;
  margin-bottom: 10px;
}
.btn{
  font-size: 20px;
  background-color: rgb(0, 153, 255);
  color:white;
  font-weight: 900;
  border: none;
}

/* alert message */
.alert-msg{
  background-color: rgb(200, 151, 176);
  padding: 10px;
  color:white;
}

.error-msg{
  text-align: center;
  background-color: orangered;
  padding: 10px;
  color: azure;
}
